@model ChatRoomViewModel
@{
    Layout = null;
}

@inject IIdentityService<User> identity

<div class="chat-tab-body">
    <a data-ajax="true" class="btn btn-primary" data-ajax-success="partialModal" data-ajax-method="GET" data-ajax-url="@Url.Action("Invite","chat",new { id = Model.Id })">Invite</a>
    <ul class="messages">
        @foreach (var message in Model.Messages)
        {
            <li>
                <partial name="_Message" model="@message" />
            </li>
        }
    </ul>
    <div>
        <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="/Chat/Sent" data-ajax-complete="onComplete" asp-antiforgery="true">
            <input type="hidden" name="roomid" value="@Model.Id" />
            <input class="chat-input" name="text" value="" />
            <button type="submit">
                Send
            </button>
        </form>
    </div>

    <h2>Users</h2>
    <ul>
        @foreach (var user in Model.Participants)
        {
            <li class=" @(user.Id == identity.CurrentUserId?"current":"")">@user.UserName</li>
        }
    </ul>
</div>