@model IEnumerable<ChatRoomViewModel>
@{
    ViewData["Title"] = "My chats";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string selectedId = ViewBag.SelectedId as string;
    if (String.IsNullOrEmpty(selectedId))
    {
        selectedId = Model.FirstOrDefault()?.Id ?? "";
        ViewBag.SelectedId = selectedId;
    }   
}
@inject IIdentityService<User> identity;

<div class="row">
    <div class="col-md-4">
        <nav class="chats-tabs">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                @foreach (var item in Model)
                {
                    <a class="nav-item nav-link d-block w-100 chat-tab-link @(item.Id==selectedId?"active":"")" id="chat@(item.Id)-tab" data-toggle="tab" href="#chat@(item.Id)" role="tab" aria-controls="chat@(item.Id)" aria-selected="@(item.Id==selectedId?"true":"false")">@item.RoomName</a>
                }
            </div>
        </nav>
    </div>
    <div class="col-md-8">
        <div class="tab-content" id="nav-tabContent">
            @foreach (var item in Model)
            {
                <div class="tab-pane fade @(item.Id==selectedId?"show active":"")" id="chat@(item.Id)" role="tabpanel" aria-labelledby="chat@(item.Id)-tab">
                    <partial name="_chatTab" model="@item" />
                </div>
            }
        </div>
    </div>
</div>

<div id="hidden"></div>

@section Scripts{
    <script>
        function onComplete() {
            $("form input[name=text]").val("")
        }
    </script>
    <script>
        (function ($) {

            let _showHasNewMessages = function (id) {
                var element = $(`a#chat${id}-tab`);
                if (element && !element.hasClass("active")) {
                    element.addClass("updated");
                }
            };

            let _appendMessage = function (msg) {
                msg.sendDate = moment(new Date(msg.sendDate)).format("YYYY-MM-DD hh:mm");
                const container = $("#chat" + msg.chatRoomId + " .chat-messages");
                let senderCls = $.currentUserId === msg.senderId ? 'outcomming' : 'incomming';

                $(`<div class="alert alert-primary ${senderCls}" role="alert"><p>${msg.text}</p><hr><p class="message-info"><span class="message-date">${msg.sendDate}</span> ${msg.senderUserName}</p></div>`).appendTo(container);

                container.scrollTop(100000);
            };

            let _onMessageHandler = function (msg) {
                if (msg == null || msg == "" || msg == undefined) {
                    return;
                }
                if (msg.length >= 0) {
                    msg.forEach(function (item) {
                        _appendMessage(item);
                    })
                }
                _appendMessage(msg);
                _showHasNewMessages(msg.chatRoomId);
            };

            const config = {
                host: "/Hub",
                onMessage: _onMessageHandler,
                mode: "null"
            };
            $("#hidden").hub(config);
            $.currentUserId="@identity.CurrentUserId";
        })(jQuery)

    </script>
}
