@model IndexViewModel
@inject IIdentityService<User> identity;
@{
    ViewData["Title"] = "My chats";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currUserId = identity.CurrentUserId;
    string selectedId = ViewBag.SelectedId as string;
    if (String.IsNullOrEmpty(selectedId))
    {
        selectedId = Model.Rooms.FirstOrDefault()?.Id ?? "";
        ViewBag.SelectedId = selectedId;
    }
}

<div id="root"></div>

<div class="row">
    <div class="col-md-4">
        <div>
            <nav class="chats-tabs">
                <form method="post" id="search-chats-form" data-ajax="true" data-ajax-success="onChatSearch" data-ajax-url="/chat/rooms">
                    <div class="form-group" style="display:flex;">
                        <input class="form-control" name="keywords" value="" />
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                <div class="chat-tab-links scrollable">
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        @foreach (var item in Model.Rooms)
                        {
                            <a class="nav-item nav-link w-100 chat-tab-link @(item.Id==selectedId?"active":"") @(item.HasUnread?"updated":"")" id="chat@(item.Id)-tab" data-toggle="tab" href="#chat@(item.Id)" role="tab" aria-controls="chat@(item.Id)" aria-selected="@(item.Id==selectedId?"true":"false")">
                                <i class="fa @(item.IsPrivate?"fa fa-user":"fa fa-users")"></i>
                                @item.RoomName
                            </a>
                        }

                        <form data-ajax="true" data-ajax-success="onLoadChats" method="post" data-ajax-url="/chat/rooms" id="more-chats-form">
                            <input type="hidden" name="tailId" value="@(Model.Rooms.LastOrDefault()?.Id)" />
                            <button type="submit" class="btn" style="margin: auto;font-size: small;width: 100%;">Load More</button>
                        </form>

                        @foreach (var user in Model.Users)
                        {
                            <a class="nav-item nav-link w-100 chat-tab-user-link" href="/" data-ajax="true" method="GET" data-ajax-success="onNewChatSuccess" data-ajax-url="@Url.Action("Private","Chat",new {  user.Id })">
                                <i class="fa fa-plus"></i>
                                @user.UserName
                            </a>
                        }

                        <a class="btn"
                           style="margin: auto;font-size: small;width: 100%;"
                           id="more-users-btn"
                           href="/"
                           data-ajax="true"
                           method="GET"
                           data-ajax-success="onLoadUsers"
                           data-ajax-url="@Url.Action("Get","Users",new { tailId=Model.Users.LastOrDefault()?.Id })">
                            Load more
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="col-md-8">
        <div class="tab-content" id="nav-tabContent">
            @foreach (var item in Model.Rooms)
            {
                <partial name="_chatTab" model="item" />
            }
        </div>
    </div>
</div>

<div id="hidden"></div>

@section Scripts{

    <script src="~/dist/main.js"></script>
    <script>
        MyFunc()
    </script>
    <script>
        function onComplete() {
            $("form input[name=text]").val("")
        }
    </script>
    <script>
        (function ($) {

            let _userJoinAlert = function (userJoin) {
                alert(`User ${userJoin.user.userName} has joined to chat room ${userJoin.chatName}`);
            };

            let _onMessageHandler = function (msg) {
                if (msg == null || msg == "" || msg == undefined) {
                    return;
                }
                appenMessage(msg);
            };

            let _onNewChatHandler = function (chat) {
                if (chat == null || chat == "" || chat == undefined) {
                    return;
                }
                appendChat(chat);
            };

            let _onChatJoinHandler = function (user) {
                if (user == null || user == "" || user == undefined) {
                    return;
                }
                _userJoinAlert(user);
            };

            const config = {
                host: "/Hub",
                onMessage: _onMessageHandler,
                onNewChat: _onNewChatHandler,
                onChatJoin:_onChatJoinHandler,
                mode: "null"
            };
            $("#hidden").hub(config);
            $.currentUserId = "@identity.CurrentUserId";


            $(document).on('keypress', 'form textarea', function (e) {
                if (e.which == 13 && !e.shiftKey && this.value && this.value.trim().length>0) {
                    e.preventDefault();
                    e.stopPropagation();
                    $(this).submit();
                }
                else {
                    e.shiftKey = false;
                }
            });

        })(jQuery)

    </script>
}
